@tailwind base;
@tailwind components;
@tailwind utilities;

/* ******* */
/* Wrapper */
/* ******* */

/* Mobile */
.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] 1rem
    [content-start] 1fr [content-end]
    1rem [full-width-end];
  grid-template-rows: auto 1fr auto;
  align-content: start;
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .content-grid {
    grid-template-columns:
      [full-width-start] 2rem
      [content-start] 1fr [content-end]
      2rem [full-width-end];
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .content-grid {
    grid-template-columns:
      [full-width-start] 1fr
      [content-start] repeat(12, minmax(0, 4.5rem)) [content-end]
      1fr [full-width-end];
    column-gap: 2rem;
  }
}

/* ******* */
/* Button  */
/* ******* */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: theme("spacing.2") theme("spacing.4");
  border-radius: 2px;

  font-size: theme("fontSize.sm");
  font-weight: theme("fontWeight.medium");

  color: theme("colors.zinc.800");
}

.btn-primary {
  position: relative;
  z-index: 0;
  border: 1px solid #326372;
  border-radius: 2px;
  min-width: 8em;
  background-image: linear-gradient(180deg, #5a9ba1, #326372 62%, #4c7a7f);
  box-shadow:
    inset 0 1px 0px rgba(255, 255, 255, 0.2),
    inset 0 -1px 0px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  transition-property: border-color, transform;
  transition-duration: 0.3s;
  will-change: transform;
}

@media (hover: hover) {
  .btn-primary:hover {
    transform: scale(1.02);
  }
}

.btn-primary:active {
  border-color: #264c53;
  transform: scale(0.98);
}

.btn-primary::before,
.btn-primary::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 1px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.btn-primary::before {
  background-image: linear-gradient(180deg, #66a7ad, #326372 62%, #4c7a7f);
  box-shadow:
    inset 0 1px 0px rgba(255, 255, 255, 0.2),
    inset 0 -1px 0px rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
  .btn-primary:hover::before {
    opacity: 1;
  }
}

.btn-primary::after {
  background-image: linear-gradient(180deg, #406466, #326372 38%, #66a7ad);
  box-shadow: inset 0 1px 1px #264c53;
}

.btn-primary:active::after {
  opacity: 1;
}

.btn-secondary {
  background-color: theme("colors.zinc.50");
  color: theme("colors.zinc.800");
  outline: 0.75px theme("colors.zinc.500") solid;
  box-shadow: 0px 1px 2px 0px theme("colors.zinc.950/15%");
}
